h1 {
  margin: auto;
  background-color: #850000;
  color: #fff;
  text-align: center;
  text-shadow: 5px 3px 5px #000;
  font-family: 'Share Tech Mono', monospace;
  font-size: 5vw;
}

.header-text {
  margin-top: 20px;
}

.mypic {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #b2b2b2;
  border-width: 5px;
  border-style: solid;
  border-radius: 10%;
  box-shadow: 3px 3px 1px #000;
  min-height: 100px;
  min-width: 100px;
  max-height: 150px;
}

.skills {
  text-align: center;
  margin-top: 10px;
  font-family: monospace;
  font-size: 2.5vw;
  color: #b2b2b2;
}


/** accordion style**/

button.accordion {
  background-color: #850000;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 1px 2px #000;
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
  background-color: #fff;
  color: #850000;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
}

div.panel.show {
  display: block;
}


/**end accordion styling**/

.about-me {
  color: #850000;
  margin: auto;
  font-family: monospace;
  font-size: 3vw;
}

.port-pic {
  display: block;
  position: relative;
  vertical-align: middle;
  margin: auto;
  margin-bottom: 10px;
  min-height: 100px;
  min-width: 100px;
}

.port-pic:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}

.port-direction {
  color: #850000;
  text-align: center;
  font-family: monospace;
  font-size: 3vw;
}

.contact-spiel {
  color: #850000;
  margin: auto;
  margin-right: 10px;
  font-family: monospace;
  font-size: 2.5vw;
}

.sign-off {
  text-align: right;
  margin-right: 15px;
  color: #850000;
  font-family: monospace;
  font-size: 3vw;
}

.mail-us {
  text-decoration: none;
  background: #850000;
  padding: 20px 30px;
  color: #fff;
  font-family: monospace;
  font-size: 2vw;
  border-radius: 5px;
}

.mail-us:hover {
  background: #b2b2b2;
  color: #850000;
  font-size: 3vw;
}

.mail-container {
  margin: 40px 0 80px;
  text-align: center;
}

.social-media-bar {
  margin: auto;
  color: #fff;
  background-color: #850000;
}

.social-media {
  font-size: 4vw;
  color: #fff;
  padding: 10px;
}

.social-media:hover {
  color: gray;
}

.icon-align {
  text-align: center;
}

.copyright-line {
  text-align: center;
  color: #850000;
  font-family: monospace;
  font-size: 3vw;
}